.button-row {
    text-align: right;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.step-value {
    display: inline-block;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 15px;
    
}