<div *ngIf="isLoading;else formReview">
    <span>Updating appointment review...</span>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<ng-template #formReview>
    <form [formGroup]="formGroup">

        <div class="result-container">
            <div class="before-container">
                <input hidden type="file" #beforeImgInput accept='image/*' (change)="selectBeforeImg($event)" />
                <img class="before-img" [src]="beforeImgSrc" crossorigin default="assets/img/barber_before.jpg"
                    (click)="beforeImgInput.click()" matTooltip="Upload your photo before barber" matTooltipPosition="above" />
                <div class="stage-name">Before</div>
            </div>
            <div class="after-container">
                <input hidden type="file" #afterImgInput accept='image/*' (change)="selectAfterImg($event)" />
                <img class="after-img" [src]="afterImgSrc" crossorigin default="assets/img/barber_after.jpg"
                    (click)="afterImgInput.click()" matTooltip="Upload your photo after barber" matTooltipPosition="above" />
                <div class="stage-name">After</div>
            </div>
        </div>

        <div class="score-container">
            <span class="">Review Score: </span><app-rating [(rate)]="data.score"></app-rating>
        </div>

        <mat-form-field>
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="commentCtrl" placeholder="Write your comment review..." [(ngModel)]="data.comment" ></textarea>
        </mat-form-field>
    </form>

    <div class="button-row">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-flat-button color="accent" (click)="updateReview()">Done!</button>
    </div>
</ng-template>
